[data-bs-theme='light'] {
  color-scheme: light;
  --color-1: #eae2d6;
  --color-2: #d5c3aa;
  --color-2-rgb: 213, 195, 170;
  --color-3: #867666;
  --color-4: #e1b80d;
  --color-5: white;
  --bs-body-color: var(--color-3);
  --bs-body-bg: var(--color-1);
  --bs-primary: var(--color-2);
  --bs-primary-rgb: var(--color-2-rgb);
  --bs-heading-color: var(--color-3);
}
[data-bs-theme='light'] .border {
  --bs-border-color: var(--color-2);
}
[data-bs-theme='light'] body {
  color: var(--color-3);
  background-color: var(--color-1);
}
[data-bs-theme='light'] .btn-primary {
  --bs-btn-color: var(--color-3);
  --bs-btn-bg: var(--color-2);
  --bs-btn-border-color: var(--color-2);
  --bs-btn-hover-color: var(--color-3);
  --bs-btn-hover-bg: var(--color-1);
  --bs-btn-hover-border-color: var(--color-1);
  --bs-btn-active-color: var(--color-3);
  --bs-btn-active-bg: var(--color-5);
  --bs-btn-active-border-color: var(--color-5);
}
[data-bs-theme='light'] .text-primary {
  color: var(--color-3) !important;
}
[data-bs-theme='light'] .bg-primary {
  background-color: var(--color-2) !important;
}
[data-bs-theme='light'] .dropdown-menu {
  --bs-dropdown-bg: var(--color-5);
  --bs-dropdown-color: var(--color-3);
  --bs-dropdown-link-hover-bg: var(--color-1);
  --bs-dropdown-link-active-bg: var(--color-3);
  --bs-dropdown-border-color: var(--color-2);
}
[data-bs-theme='light'] .navbar-brand {
  --bs-navbar-brand-color: var(--color-5);
  --bs-navbar-brand-hover-color: var(--color-5);
}
[data-bs-theme='light'] .navbar-nav {
  --bs-nav-link-color: var(--color-3);
}
[data-bs-theme='light'] .router-link-active {
  color: var(--color-5);
}
[data-bs-theme='light'] .overview-container {
  border-radius: 0.5rem;
  background-image: linear-gradient(190deg, var(--color-1), var(--color-2));
}
[data-bs-theme='light'] .sum {
  color: var(--color-5);
}
[data-bs-theme='light'] .apexcharts-menu-icon svg {
  fill: var(--color-3);
}
[data-bs-theme='light'] .update-input-field,
[data-bs-theme='light'] .add-input-field {
  background-color: transparent;
  border-bottom: 1px solid var(--color-3);
  color: var(--color-3);
}
[data-bs-theme='light'] .comment {
  background-color: transparent;
  color: var(--color-3);
}
[data-bs-theme='light'] .monthly-sum {
  border-top: 1px solid var(--color-3);
}
